* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: rgb(61, 61, 61);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

:root {
    --p-popover-border-color: rgba(197, 0, 0, 0) !important;
    --p-tabs-tablist-background: white !important;
    --p-tabs-tab-background: white !important;
    --p-tabs-tab-color: rgb(51, 51, 51) !important;
    --p-tabs-tab-active-background: rgb(14, 14, 14) !important;
    --p-tabs-tab-active-color: white !important;
    --p-tabs-tab-hover-background: rgba(88, 88, 88, 0.171) !important;
    --p-tabs-tab-hover-color: rgb(51, 51, 51) !important;
}

.p-popover {
    border: none !important;
}
.p-popover-content {
    padding: 0 !important;
}

.p-button {
    color: black !important;
    border-color: black !important;
    outline: 1px solid black !important;
}


.p-button:hover {
    color: black !important;
}